.aboutRest {
  height: 100%;
  text-align: center;
  .navbar {
    margin-bottom: 0;
  }
  h1 {
    color: $white;
    font-family: fox;
    padding: 1em 0;
  }
  p {
    color: #FFFFFF;
    font-family: smoolthan;
  }
}
